FLASK_SECRET_KEY=change_me_to_a_random_string
WEDDING_GUEST_PASSWORD=your_guest_password
WEDDING_ADMIN_PASSWORD=your_admin_password
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_REDIRECT_URI=https://your-domain.com/admin/spotify/callback
WEDDING_IBAN=CH00 0000 0000 0000 0000 0
WEDDING_PHONE=+41 79 123 45 67
WEDDING_TWINT_URL=https://go.twint.ch/1/e/tw?tw=aaaaaaa