FLASK_SECRET_KEY=change_me_to_a_random_string
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
WEDDING_IBAN=CH00 0000 0000 0000 0000 0
SPOTIFY_REDIRECT_URI=https://your-domain.com/admin/spotify/callback
SPOTIFY_NOW_PLAYING_CACHE_TTL=10
WEDDING_PHONE=+41 79 123 45 67
WEDDING_TWINT_URL=https://go.twint.ch/1/e/tw?tw=aaaaaaa
GUEST_PASSWORD=pw
ADMIN_PASSWORD=pwadmin